!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Infoset Todo 
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin: "anonymous"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity: "sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin: "anonymous"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-brand-centered", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand.navbar-brand-centered Infoset
        / Collect the nav links, forms, and other content for toggling
        #navbar-brand-centered.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to "Pending" , tasks_history_index_path
           
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown" , :href => "#"} History
               
              %ul.dropdown-menu
                %li 
                  = link_to 'Daily completed tastk' , daily_completed_task_index_path
                %li
                  = link_to 'All' , pages_home_path
            
               
               
            
           
           
        
    .container
      .row
        .col-md-8.col-md-offset-3
          .jumbotron.text-center
           
            %h1
              ToDo
              %small My Infoset Task manager
            - if current_user
              .text-center
                = link_to 'New task' , new_task_path , class: 'btn btn-primary ' , remote: true
                = link_to 'Daily Mail' , daily_mail_index_path , class: 'btn btn-primary'
            
              .text-center
                %strong= current_user.email
          
              .text-center
                = link_to 'logout' , destroy_user_session_path , method: :delete
              
    .container            
      .row-fluid
        .col-md-4.offset4
          = yield
   
